.location-types-table {
  width: 800px;

  img {
    width: 38px;
    height: 38px;
    margin: 6px;
  }
}

.edit-location-type-button {
  margin-left: 66%;
}

.add-location-type-button {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
}

@media screen and (max-width: 1080px) {
  .location-types-table {
    width: 100% !important;
  }
}
