<div *ngIf="locationTypes$ | async as locationTypes">
  <table
    mat-table
    [dataSource]="locationTypes"
    fixedLayout="true"
    class="mat-elevation-z1 location-types-table"
  >
    <ng-container matColumnDef="markerPath">
      <th mat-header-cell *matHeaderCellDef>Marker</th>
      <td mat-cell *matCellDef="let locType">
        <img
          src="{{ getMarkerUrl(locType.markerPath) }}"
          alt="{{ locType.name }} icon"
        />
      </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let locType">{{ locType.name }}</td>
    </ng-container>

    <ng-container matColumnDef="locationCount">
      <th mat-header-cell *matHeaderCellDef>Locations</th>
      <td mat-cell *matCellDef="let locType">{{ locType.locationCount }}</td>
    </ng-container>

    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let locType">
        <button
          class="edit-location-type-button"
          type="button"
          mat-button
          (click)="openEditLocTypeDialog(locType)"
        >
          Edit
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <button
    mat-fab
    class="add-location-type-button"
    (click)="openCreateLocationDialg()"
  >
    <mat-icon>add</mat-icon>
  </button>
</div>
