<div *ngIf="users$ | async as users">
  <form class="example-form">
    <mat-form-field class="search-users" appearance="fill">
      <mat-label>Search users</mat-label>
      <input matInput [formControl]="searchField" />
    </mat-form-field>
  </form>
  <table
    mat-table
    [dataSource]="users"
    fixedLayout="true"
    class="mat-elevation-z1 users-table"
  >
    <ng-container matColumnDef="firstName">
      <th mat-header-cell *matHeaderCellDef>First name</th>
      <td mat-cell *matCellDef="let user">{{ user.firstName }}</td>
    </ng-container>

    <ng-container matColumnDef="lastName">
      <th mat-header-cell *matHeaderCellDef>Last name</th>
      <td mat-cell *matCellDef="let user">{{ user.lastName }}</td>
    </ng-container>

    <ng-container matColumnDef="username">
      <th mat-header-cell *matHeaderCellDef>Username</th>
      <td mat-cell *matCellDef="let user">{{ user.username }}</td>
    </ng-container>

    <ng-container matColumnDef="roles">
      <th mat-header-cell *matHeaderCellDef>Roles</th>
      <td mat-cell *matCellDef="let user">
        {{ user.roles }}
      </td>
    </ng-container>

    <ng-container matColumnDef="changeRoles">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let user">
        <button
          class="edit-location-type-button"
          type="button"
          mat-button
          color="primary"
          (click)="openEditRolesDialog(user)"
        >
          Edit
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="locationCount">
      <th mat-header-cell *matHeaderCellDef>Published locations</th>
      <td mat-cell *matCellDef="let user">{{ user.locationCount }}</td>
    </ng-container>

    <ng-container matColumnDef="gradeCount">
      <th mat-header-cell *matHeaderCellDef>Grades</th>
      <td mat-cell *matCellDef="let user">{{ user.gradeCount }}</td>
    </ng-container>

    <ng-container matColumnDef="isBanned">
      <th mat-header-cell *matHeaderCellDef>Banned</th>
      <td mat-cell *matCellDef="let user">
        {{ user.isBanned ? "banned" : "active" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="ban">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let user">
        <button
          class="edit-location-type-button"
          type="button"
          mat-button
          (click)="setUserBanned(user.id, !user.isBanned)"
          color="{{ user.isBanned ? 'primary' : 'warn' }}"
        >
          {{ user.isBanned ? "Unban" : "Ban" }}
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
