<mat-card *ngIf="location" class="location-card mat-elevation-z3">
  <mat-card-subtitle>
    <mat-chip-list aria-label="Location pins">
      <mat-chip color="primary" selected>{{ location.typeName }}</mat-chip>
      <mat-chip color="primary" selected
        >{{ location.averageGrade }} ★
      </mat-chip>
      <mat-chip
        >{{ location.gradecount }} review
        <span *ngIf="location.gradecount != 1">s</span></mat-chip
      >
    </mat-chip-list>
    {{ location.publicationTime | date: "dd.MM.yyyy HH:mm" }}
  </mat-card-subtitle>

  <mat-card-content class="location-card-body">
    <img src="{{ imageUrl }}" alt="{{ location.name }}" />
    <div>
      <mat-card-header>
        <mat-card-title>{{ location.name }}</mat-card-title>
      </mat-card-header>
      <p>
        {{ location.description }}
      </p>
    </div>
  </mat-card-content>

  <mat-card-actions align="end">
    <button mat-button color="primary">Review</button>
    <button mat-raised-button color="primary" (click)="openLocationDetails()">
      More details
    </button>
  </mat-card-actions>
</mat-card>
