h1 {
  text-align: center;
  margin-top: 15%;
  font-size: 3rem;
}

.return-button-container {
  display: flex;
  justify-content: center;
  padding: 3rem 0;
}

.page-not-found {
  max-height: 100vh;
}
