h1,
h3 {
  text-align: center;
}
.register-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10rem;
}
.register-form {
  display: flex;
  flex-direction: column;
  width: 20rem;
  .name {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    * {
      width: 49%;
    }
  }
}
